* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/cubix.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
header h1 {
	text-align: left;
	padding: 10px;
	margin: 20px 0 20px 100px;
}
#cont-section {
	text-align: center;
	width: 100%;
	height: 400px;
	padding: 30px;
	margin: 60px auto 60px auto;
}
.topper {
	margin-left: 30%;
	padding: 10px;
	text-align: left;
	display: center;
}
.btn-start {
	background-color: #ff5733;
	color: white;
	padding: 10px;
	margin: 0px auto 10px auto;

	width: 20%;
	font-size: 20px;
	border: 3px solid black;
	text-align: center;
}
.form-btns {
	text-align: left;
}

.toggleDisplay {
	display: none;
}
.timer,
.score {
	text-align: right;
	font-size: 24px;
	color: red;
	width: 10%;
	padding: 10px;
	margin: 20px 0 20px 100px;
}

.question {
	font-size: 20px;
	margin: 24px;
	text-align: left;
}
.answers {
	text-align: left;
}

ul li {
	padding: 10px;
	list-style-type: none;

	display: block;
	margin: 10px;
}

li a {
	background-color: cornflowerblue;
	padding: 10px;
	text-decoration: none;
}

.liSelected {
	background-color: #ff5733;
}

ul li label {
	padding: 20px;
}
.btns {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 1.5em;
	color: beige;
	background-color: #4eb5f1;
	border-radius: 2em;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.results h3 {
	font-style: italic;
	color: gray;
	font-size: 1em;
	text-align: left;
	padding: 10px;
	margin: 5px;
}

.score {
	color: dodgerblue;
}

td,
th {
	border: 1px solid #999;
	padding: 0.5rem;
	background-color: lightskyblue;
	color: darkblue;
}
